<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
      <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
        <li class="menu-text">PT Nusantara Travel Tbk</li>
    </ul>
  </div>
    <div class="top-bar-right">
        <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
        <li>
            <a routerLink="/customer">Customer</a>
        </li>
        <li><a routerLink="/rails">rails</a></li>
        <li><a>city</a></li>
      </ul>
    </div>
  </div>
 <br/>
 <div class="callout">
    <h5>Selamat datang di pusat informasi tiket Nusantara travel</h5>
    <p>Nusantara travel adalah perusahaan yang bergerak di bidang biro perjalanan travel baik travel packet maupun pembelian angkutan moda transportasi</p>
    <a href="#">Regards admin</a>
 </div>
    
<router-outlet></router-outlet>
<router-outlet></router-outlet>