<div *ngIf="isForm">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Form Customer</h1>
        <label> Customer Name
          <input type="text" formControlName="name">
        </label>
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{
          titleAlert }}
        </div>
        <label> Customer Email
          <input type="text" formControlName="customerEmail">
        </label>
        <div class="alert" *ngIf="!rForm.controls['customerEmail'].valid && rForm.controls['customerEmail'].touched">
          Please Input Email
        </div>
        <label> Identity Number
          <input type="text" formControlName="identifyNumber">
        </label>
        <div class="alert" *ngIf="!rForm.controls['identifyNumber'].valid && rForm.controls['identifyNumber'].touched">
          Please Input Only Number
        </div>
        <label> Customer Phone Number
          <input type="text" formControlName="costumerPhone">
        </label>
        <div class="alert"
             *ngIf="!rForm.controls['costumerPhone'].valid && rForm.controls['costumerPhone'].touched">
          Please Input Only Number
        </div>
        <input type="hidden" formControlName="customerId">
        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<div *ngIf="isTable">
  <table>
    <tr>
      <th>Customer Name</th>
      <th>Customer Email</th>
      <th>Identity Number</th>
      <th>Phone Number</th>
      <th></th>
    </tr>
    <tr *ngFor="let d of customerResponse">
      <td>{{d.name}}</td>
      <td>{{d.customerEmail}}</td>
      <td>{{d.identifyNumber}}</td>
      <td>{{d.costumerPhone}}</td>
      <td>
        <input type="button" value="Update customer" (click)='update(d)'>
        <input type="button" value="Delete customer" (click)='deleteCustomer(d)'>

      </td>
    </tr>
  </table>
  <input type="button" value="Add customer" (click)="showForm()">
</div>
